.quiz-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.quiz {
  text-align: center;
}

.answers-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

.answer-btn {
  padding: 10px;
  background-color: black;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 1rem;
  width: 50%;
  text-align: center;
  letter-spacing: 2px;
  border-radius: 5px;
}

.answer-btn:hover {
  background-color: antiquewhite;
  color: black;
}

.score-wrapper {
  height: 30vh;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0.5rem;
}

/* .question_number {
  font-weight: bold;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}  */
