.headingText {
  margin: 2rem 0 5rem 0;
}

.primary_text,
.headingText,
.final_score {
  text-align: center;
}

.play_again_btn {
  border: 0;
  outline: 0;
  padding: 10px 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  background-color: black;
  color: wheat;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 2px;
  display: block;
  margin: 5rem auto 0 auto;
}

.finishPage-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
