* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

.main-container {
  /* background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%); */
  background-color: #f5f3f4;
  width: 90%;
  max-width: 650px;
  margin: 0 auto;
  border-radius: 20px;
  min-height: 90vh;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
